


body {
  padding: 10px;
}

button {
  margin: 2rem 0;
  padding: 1rem 2rem;
  width: 120px;
  cursor: pointer;
  
}

img {
 
  width: 120px;
  border:0px;
  padding:0;
  margin:0;
border: 2px solid rgb(94, 93, 151);  
}

.header .logo {
  text-transform: uppercase;
  background-color: rgb(94, 93, 151);
  padding:0;
  margin:0;
  border:0;

}

.App {
  text-align: center;
}

.App-logo {
  /* height: 60vmin; */
  pointer-events: none;
}

.menu-item{
  float: left;
  text-align: center;
}

  .h1-item{
    position: absolute;
    top: 50px;
    display: inline-block;
    margin-right: 0px;
    flex-direction: row;
    position: absolute; 
    right: 1100px;
    padding: 10px;
    margin: 0px;
    width: 70px;
    height: 35px;
    border: 0px
    text
    }


/* .form-item input{
	width: 40px;
	padding: rem .175rem;
	font-size: 1rem;
	line-height: 1.5;
	color: aqua;
	background-color: azure;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 25rem;
	transition: border-color .15s;
}

.pay-btn{
	position: relative;
	top: 40%;
	background-color: #4CAF50;
	margin: 40px;
	height: 35px;
	align-items: center;
}
.pay-btn:hover {
	background-color: #b9e9d5; */
/* } */